*, *:before, *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	font-family: 'Arial';
	font-size: 12px;
}
h3 {
	color: #4f2d7f;
	font-size: 1.6em;
}
p {
	font-size: 1.6em;
}
a {
	text-decoration: none;
}

/* gt style */
#gt {
	margin: 0 auto;
	max-width: 1250px;
	padding: 0 4em;
	position: relative;
	height: 100%;
}

/* header style */
.header {
	background: url(../images/bg-header.png) left center no-repeat;
	background-size: contain;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 9.5em;
}
.header_element {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0 1.5em;
	position: relative;
	left: -3em;
	width: calc(100% / 6);
}
.header_element:first-child {
	margin-left: 0;
	left: 0;
}
.header_element:last-child {
	margin-right: 0;
}
.header_element span {
	background-color: #ffffff;
	border: 1px solid #4f2d7f;
	border-radius: 50%;
	color: #4f2d7f;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 1.5em;
	font-weight: bold;
	height: 2em;
	width: 2em;
}
.header_element h3 {
	font-weight: bold;
	padding-left: .5em;
}

/* development style */
.development {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.development_element {
	background-color: #4f2d7f;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
	text-align: center;
	margin: 1.5em 1.5em 0;
	height: 9em;
	width: calc(100% / 6);
}
.development_element:first-child {
	margin-left: 0;
}
.development_element:last-child {
	margin-right: 0;
}
.development_element a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 1em 0;
	height: 100%;
	width: 100%;
}
.development_element h3 {
	color: #ffffff;
}

/* stepping style */
.stepping {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	position: relative;
}
.stepping_container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin: 1.5em;
	position: relative;
	left: calc(1.5em + .15em);
	width: calc(100% / 6);
}
.stepping_element {
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 100%;
	width: 100%;
}
.stepping_element a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 1em;
	height: 100%;
	width: 100%;
}
.stepping_element h3 {
	text-align: center;
}
.stepping_container:first-child {
	cursor: default;
	margin-left: 0;
}
.stepping_container:last-child {
	cursor: default;
	margin-right: 0;
}
.stepping_container:nth-child(2) .stepping_element,
.stepping_container:nth-child(3) .stepping_element {
	background-color: #ffffff;
	border: .3em solid #ff7d1e;
}
.stepping_container:nth-child(4) .stepping_element,
.stepping_container:nth-child(5) .stepping_element {
	background-color: #ff7d1e;
	border: .3em solid #ff7d1e;
}
.stepping_container:nth-child(2) .stepping_element h3,
.stepping_container:nth-child(3) .stepping_element h3 {
	color: #ff7d1e;
}
.stepping_container:nth-child(4) .stepping_element h3,
.stepping_container:nth-child(5) .stepping_element h3 {
	color: #ffffff; 
}

/* people style */
.people {
	background-color: #ffffff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: .5em 0 2em;
}
.people_element {
	border: .3em solid #6d5194;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
	width: 71.5em;
}
.people_element a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 1em;
	height: 100%;
	width: 100%;
}
.people_element h3 {
	color: #000000;
	font-weight: bold;
}

/* additional style */
.additional {
	background-color: #ffffff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.additional_element {
	border: .3em solid #6d5194;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	width: 80em;
}
.additional_element a {
	display: block;
	padding: 1em;
	height: 100%;
	width: 100%;
}
.additional_element h3 {
	color: #000000;
	font-weight: bold;
	padding-bottom: .5em;
	text-align: center;
}
.additional_element p {
	color: #000000;
	text-align: center;
}

/* footer style */
.footer {
	background: url(../images/bg-header.png) left center no-repeat;
	background-size: contain;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	height: 9.5em;
	z-index: -3;
}
.footer_element {
	margin: 1.5em;
	position: relative;
	left: -2.25em;
	width: calc(100% / 6);
}
.footer_element:first-child {
	margin-left: 0;
}
.footer_element:last-child {
	margin-right: 0;
}
.footer_element__dot {
	background-color: #4f2d7f;
	border-radius: 50%;
	height: 1.5em;
	width: 1.5em;
}

/* line style */
.line {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 4.5em 4em 7em;
	position: absolute;
	left: calc(-1.5em - .125em);
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}
.line_element {
	margin: 1.5em;
	height: 100%;
	width: calc(100% / 6);
}
.line_element:first-child {
	margin-left: 0;
}
.line_element:last-child {
	margin-right: 0;
}
.line_element div {
	border-left: .25em dashed #e2e2e2;
	height: 100%;
}

/* tooltip style */
.tooltiptext {
	background-color: #333;
	color: #ffffff;
	font-size: 1.4em;
	padding: 2.2em 1em 1em;
	position: absolute;
	text-align: justify;
	height: auto;
	width: 30em;
	visibility: hidden;
	z-index: 10;
}
.development_element .tooltiptext {
	padding: 2.2em 1em 1em;
	top: 100%;
	left: calc(50% - 15em);
}
.development_element:first-of-type .tooltiptext {
	padding: 2.2em 1em 1em 1em;
	top: 100%;
	left: 0% !important;
}
.development_element:last-of-type .tooltiptext {
	padding: 2.2em 1em 1em 1em;
	top: 100% !important;
	right: 0% !important;
	left: inherit;
}
.stepping_element .tooltiptext {
	padding: 2.2em 1em 1em;
	top: 100%;
	left: calc(50% - 15em);
}
.people_element .tooltiptext {
	padding: 2.2em 1em 1em;
	top: 100%;
	left: calc(50% - 15em);
}
.people_element .tooltiptext {
	padding: 2.2em 1em 1em;
	top: calc(100% + .2em);
	left: calc(50% - 15em);
}
.additional_element .tooltiptext {
	padding: 1em 1em 2.2em 1em;
	left: calc(50% - 15em);
	bottom: calc(100% + .2em);
}
.tooltiptext.active {
	-webkit-clip-path: polygon(0% 1em, 45% 1em, 50% 0%, 55% 1em, 100% 1em, 100% 100%, 0% 100%);
	        clip-path: polygon(0% 1em, 45% 1em, 50% 0%, 55% 1em, 100% 1em, 100% 100%, 0% 100%);
	visibility: visible;
}
.development_element:first-of-type .tooltiptext.active {
	-webkit-clip-path: polygon(0% 1em, 10% 1em, 15% 0%, 20% 1em, 100% 1em, 100% 100%, 0% 100%);
	        clip-path: polygon(0% 1em, 10% 1em, 15% 0%, 20% 1em, 100% 1em, 100% 100%, 0% 100%);
}
.development_element:last-of-type .tooltiptext.active {
	-webkit-clip-path: polygon(0% 1em, 90% 1em, 85% 0%, 80% 1em, 100% 1em, 100% 100%, 0% 100%);
	        clip-path: polygon(0% 1em, 90% 1em, 85% 0%, 80% 1em, 100% 1em, 100% 100%, 0% 100%);
}
.additional_element .tooltiptext.active {
	-webkit-clip-path: polygon(0% 90%, 45% 90%, 50% 100%, 55% 90%, 100% 90%, 100% 0%, 0% 0%);
	        clip-path: polygon(0% 90%, 45% 90%, 50% 100%, 55% 90%, 100% 90%, 100% 0%, 0% 0%);
}

/* tooltip-mobile style*/
.tooltip-mobile {
	display: none;
	position: absolute;
	bottom: -1em;
	right: -1em;
	z-index: 9;
}
.tooltip-mobile img {
	background: #333;
	border: 1px solid #333;
	border-radius: 50%;
	color: #ffffff;
	cursor: pointer;
	padding: .5em;
	height: 2.5em;
	width: 2.5em;
}

/* Large desktops and laptops */
@media (min-width: 1920px) {
	html, body {
		font-size: 12px;
	}
}
@media (min-width: 1200px) and (max-width: 1919px) {
	html, body {
		font-size: 11px;
	}

	/* header style */
	.header_element h3 {
		font-size: 1.5em;
	}

	/* people style */
	.people_element {
		width: 76.5em;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	html, body {
		font-size: 10px;
	}
	#gt {
		padding: 0 2em;
	}

	/* header style */
	.header_element h3 {
		font-size: 1.4em;
	}

	/* people style */
	.people_element {
		width: 78.5em;
	}

	/* line style */
	.line {
		padding: 4.5em 2em 7em;
	}

	/* tooltip-mobile style*/
	.tooltip-mobile {
		display: block;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	html, body {
		font-size: 9px;
	}
	#gt {
		padding: 0 2em;
	}

	/* header style */
	.header_element h3 {
		font-size: 1.3em;
	}

	/* stepping style */
	.stepping_element h3 br {
		display: none;
	}

	/* line style */
	.line {
		padding: 4.5em 2em 7em;
	}

	/* tooltip-mobile style*/
	.tooltip-mobile {
		display: block;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html, body {
		font-size: 8px;
	}
	#gt {
		padding: 0 2em;
	}

	/* header style */
	.header_element h3 {
		font-size: 1.2em;
	}

	/* stepping style */
	.stepping_element h3 br {
		display: none;
	}

	/* line style */
	.line {
		padding: 4.5em 2em 7em;
	}

	/* tooltip-mobile style*/
	.tooltip-mobile {
		display: block;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	html, body {
		font-size: 7px;
	}
	#gt {
		padding: 0 2em;
	}

	/* stepping style */
	.stepping_element h3 br {
		display: none;
	}

	/* line style */
	.line {
		padding: 4.5em 2em 7em;
	}

	/* tooltip-mobile style*/
	.tooltip-mobile {
		display: block;
	}
}